@{
    ViewBag.Title = "About";
}
<h4 class="text-center well">@ViewBag.Message</h4>

<p>Anderson Truck & Diesel is a family owned and operated business, open since 1990. We started out on the family farm back in 1990. My wife Jennifer, our first son Kody and I built the current facility in the fall of 1995. Our second son Kameron joined the family in January 1996. We learned long ago the need for prompt service and the need to keep our customers up and running.</p>

<h4 class="text-center">The Staff</h4>
<div class="image-container">
    <img src="~/Images/theStaff.JPG" id="theStaff"/>
</div>