@{
    ViewBag.Title = "Contact";
}
<h4 class="text-center well">@ViewBag.Message</h4>

<h1 class="font-size-8 text-center">
    Call us<br />
    <a href="tel:218-694-6872">+1-218-694-6872</a>
</h1>

<h2 class="font-size-8 text-center">
    Email us<br />
    <a href="mailto:atdkwa@gvtel.com">atdkwa@gvtel.com</a>
</h2>

<h2 class="font-size-8 text-center">
    Or stop by<br />
    <a href="https://www.google.com/maps/dir/Current+Location/Anderson+Truck+%26+Diesel">15365 US 2 Bagley, MN</a>
</h2>


